<%- include('partials/header') %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <main class="container-registro">
        <h1>Register new user</h1>
        <form action="/register" method="post" enctype="multipart/form-data">

            <div class="pfp-register">
            <!-- Imagen de perfil con un ID para referencia en JavaScript -->
                <img id="pfpImage" src="/uploads/pfp/pfpIconNormal.jpg" alt="Profile Picture">
                <!-- Campo de entrada de archivo para seleccionar una nueva imagen -->
                <input type="file" id="fileInput" name="u_pfp" accept="image/*">
                <script type="text/javascript" src="/js/pfpRegister.js"></script>
            </div>

            <div class="inputs-registers">

                <label>Name</label>
                <input type="text" name="u_name" placeholder="Example: John" required>

                <label>LastName</label>
                <input type="text" name="u_lastname" placeholder="Example: Doe" required>

                <label>Email</label>
                <input type="email" name="u_email" placeholder="Example@gmail.com" required>

                <label>Password</label>
                <input type="password" name="u_password" required>

            </div>

            <div class="message-register">
                <% if (typeof message !== 'undefined') { %>
                    <p class="<%= messageType %>"><%= message %></p>
                <% } %>
            </div>

            <div class="buttons-register">
                <button type="submit">Register</button>
                <a href="/home">Back</a>
            </div>

            <div class="login-register">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
            
        </form>
    </main>
<%- include('partials/footer') %>