<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="">
</head>
<body>
    <nav>
        <div class="title-nav">LeaseHub</div>
        <ul>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="user-options">
            <a href="/profile">My name</a>
            <!-- ESTOS 3 LINKS DEBERIAN APARECER SOLO SI NO HAY SESION INICIADA, FALTA QUE AGREGUES 
            EL LOGIN Y LO HAGO, LO DEJO PARA REDIRECCIONAR NAMAS -->
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
</body>
</html>